@import "variables.scss";
.container-sidenav {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}

.mat-list-base {
  padding: 0px !important;
  min-height: calc(100vh - 160px);
}

.toolbar {
  background-color: $bg-primary;
  border-bottom: 1px solid $color-border-primary;
  box-shadow: 0 0 12px 0 $color-box-shadow;
  z-index: 1300;
  .row {
    width: 100%;
  }
  .toggle {
    display: none;
  }
  .is-mobile .toolbar {
    width: 100%;
    position: fixed;
    z-index: 2;
  }
  .is-mobile .sidenav-container {
    flex: 1 0 auto;
  }
  .sidenav-elements {
    display: table;
    height: 64px;
    width: 100%;
    .elements-sidenav {
      display: table-cell;
      vertical-align: middle;
      .logo {
        max-height: 26.68px;
        max-width: 82px;
      }
      .dropdown-user {
        background-color: #f9f9f9;
        border-radius: 2px;
        color: #5f5f5f;
        font-family: $font-primary;
        font-size: 14px;
        line-height: 18px;
        border: none !important;
        padding: 11px 20px 11px 20px;
        .dropdown-item {
          cursor: pointer;
        }
      }
    }
  }
}

.sidenav-container {
  flex: 1;
  background: $bg-secondary;
  .mat-sidenav {
    .title-nav {
      height: 18px;
      color: #B9B9B9;
      font-family: "Circular Std";
      font-size: 14px;
      font-weight: 500;
      line-height: 18px;
      margin-top: 24px;
      margin-left: 21px;
    }
    .mat-list-item {
      color: #6B6B6B;
      font-family: "Circular Std";
      font-size: 14px;
      font-weight: 300;
      line-height: 18px;
      .active {
        display: none;
      }
    }
    a.active {
      position: relative;
      transition: all ease .25s;
      .no-active {
        display: none;
      }
      .active {
        display: block;
      }
      &::before {
        content: '';
        position: absolute;
        left: 0;
        height: 100%;
        border-left: 3px solid $color-border-active;
      }
    }
  }
}

mat-sidenav,
mat-sidenav.md-locked-open,
mat-sidenav.md-closed.md-locked-open-add-active {
  min-width: 256px !important;
  width: 256px !important;
  max-width: 256px !important;
}

.mat-sidenav-content {
  .container-page {
    padding: 15px 37px 150px;
    height: 100%;
    // padding-bottom: 200px;
  }
}

.footer {
  padding: 5px 32px;
  .title {
    color: $text-title-color-primary;
    font-family: $font-primary;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
  }
  .subtitle {
    color: $text-subtitle-color-primary;
    font-family: $font-primary;
    font-size: 12px;
    font-weight: 300;
    line-height: 15px;
  }
}

@media only screen and (max-width: 768px) {
  .toggle {
    display: inline-block !important;
  }
  h1.app-name {
    margin-left: 8px;
  }
}
