<div class="container-sidenav" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar class="toolbar">
    <div class="row">
      <div class="col-6">
        <div class="sidenav-elements">
          <div class="elements-sidenav">
            <button mat-icon-button (click)="snav.toggle()" class="toggle">
              <mat-icon>menu</mat-icon>
            </button>
            <img src="assets/img/logo-blue.png" alt="Logo" class="logo" />
          </div>
        </div>
      </div>
      <div class="col-6 text-right">
        <div class="sidenav-elements">
          <div class="elements-sidenav">
            <div class="dropdown">
              <a
                class="btn btn-default dropdown-toggle dropdown-user"
                href="#"
                role="button"
                id="dropdownMenuLink"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <span class="icon-user">{{user.name}} {{user.last_name}}</span>
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <!-- <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a> -->
                <a class="dropdown-item" (click)="logOut()" >Log Out</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-toolbar>

  <mat-sidenav-container
    class="sidenav-container mat-drawer-opened"
    [style.marginTop.px]="mobileQuery.matches ? 0 : 0"
  >
    <mat-sidenav
      #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
      [opened]="true"
    >
      <mat-nav-list>
        <p class="title-nav">Secciones</p>
        <a mat-list-item [routerLink]="['/dashboard/home']" routerLinkActive="active">
          <img src="assets/icon/menu/icon-home.svg" class="no-active" alt="Home" />
          <img src="assets/icon/menu/icon-home-active.svg" class="active" alt="Home" />
          Home
        </a>
         <a mat-list-item [routerLink]="['/dashboard/paquetes']" routerLinkActive="active">
          <img src="assets/icon/menu/icon-package.svg" class="no-active" alt="paquetes" />
          <img src="assets/icon/menu/icon-package-active.svg" class="active" alt="paquetes" />Paquetes
        </a>
        <a mat-list-item [routerLink]="['/dashboard/contacto']" routerLinkActive="active">
          <img src="assets/icon/menu/icon-contacto.svg"  class="no-active" alt="Contacto"/>
          <img src="assets/icon/menu/icon-contacto-active.svg" class="active" alt="Contacto"/>
          Contacto
        </a>
        <a mat-list-item [routerLink]="['/dashboard/terminos-y-politicas']" routerLinkActive="active">
          <img src="assets/icon/menu/icon-terms.svg" class="no-active" alt="Contacto"/>
          <img src="assets/icon/menu/icon-terms-active.svg" class="active" alt="Contacto"/>Términos y políticas
        </a>

      </mat-nav-list>
      <div class="footer">
        <p class="title">&copy; Unamamada {{year}}</p>
        <p class="subtitle">Todos los derechos reservados</p>
      </div>
    </mat-sidenav>
    <mat-sidenav-content id="container">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 container-page">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
