<div>
  <h1 class="title-page">Home</h1>
  <h2 class="subtitle-page ">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  </h2>
</div>
<!-- Slider -->
<section class="content">
  <h1 class="title">Slider</h1>
  <br>
  <div class="row">
    <div class="col-12">
      <slider></slider>
    </div>
  </div>
</section>

<!-- Acerca de nosotros -->
<section class="content">
  <h1 class="title">Acerca de nosotros</h1>
  <br>
  <div class="row">
    <div class="col-12">
      <about-us></about-us>
    </div>
  </div>
</section>

<!-- Pasos featured -->
<section class="content">
  <h1 class="title">Paseos Featured (Máx. 3)</h1>
  <br>
  <div class="row">
    <div class="col-12">
      <steps></steps>
    </div>
  </div>
</section>

<!-- Aventuras Featured -->
<section class="content">
  <h1 class="title">Aventuras Featured (Máx. 3)</h1>
  <br>
  <div class="row">
    <div class="col-12">
      <adventures></adventures>
    </div>
  </div>
</section>

<!-- Experiencias Featured -->
<section class="content">
  <h1 class="title">Experiencias Featured (Máx. 3)</h1>
  <br>
  <div class="row">
    <div class="col-12">
      <experiences></experiences>
    </div>
  </div>
</section>

<!-- Tailormade Featured -->
<section class="content">
  <h1 class="title">Tailormade Featured (Máx. 6)</h1>
  <br>
  <div class="row">
    <div class="col-12">
      <tailormade></tailormade>
    </div>
  </div>
</section>
