@import "variables.scss";

#login {
  height: 100%;
  display: flex;
  align-items: center;
}

#login-caption {
  width: 100%;
  .bg-container {
    background: $bg-primary;
    padding: 90px 50px 90px 50px;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.04);
    border: 1px solid $color-border-primary;
    img.logo {
      max-width: 122px;
      margin-bottom: 25px;
    }
    p.error {
      color: $text-red;
      font-family: $font-primary;
      font-size: 14px;
      font-weight: 300;
      line-height: 18px;
    }
    form {
      .inner-addon {
        position: relative;
      }

      .inner-addon img {
        position: absolute;
        padding: 10px;
        pointer-events: none;
      }

      .left-addon img {
        top: -7px;
        left: -10px;
      }
      .left-addon input {
        padding-left: 30px;
      }

      .login-options {
        margin: 0px 0px 0px 8px;
        position: relative;
        height: 25px;
        .text-right{
          position: absolute;
          right: 0px;
        }
        .remember-password {
          color: $color-green-primary;
          font-family: $font-primary;
          font-size: 12px;
          font-weight: 300;
          line-height: 15px;
          text-decoration: underline;
        }
      }

      .btn-bg-green {
        margin: 0;
      }
    }
  }
}

@media screen and (max-width: $break-tablet) {
  #login-caption {
    .bg-container {
      padding: 20px 5px 20px 5px;
      form {
        .login-options {
          .col-lg-6 {
            text-align: center !important;
          }
        }
      }
    }
  }
}
