<section id="login">
  <div id="login-caption">
    <div id="container" class="container">
      <div class="row text-white">
        <div class="col-sm-6 offset-sm-3 bg-container form-base">
          <div class="text-center">
            <img
              src="assets/img/unamamada.png"
              alt="Logo"
              class="img-fluid logo"
            />
            <p class="subtitle-page">Ingresa tus datos para iniciar sesión.</p>
          </div>
          <form [formGroup]="formLogin" class="form-fields" (submit)="login()">
            <div class="form-group">
              <div class="inner-addon left-addon">
                <img src="assets/icon/auth/icon-user.svg" alt="Usuario" />
                <input
                  type="email"
                  class="form-control"
                  formControlName="email"
                  placeholder="Correo electrónico"
                />
              </div>
              <control-messages
                [control]="formLogin.controls.email"
              ></control-messages>
            </div>
            <div class="form-group">
              <div class="inner-addon left-addon">
                <img src="assets/icon/auth/icon-pwd.svg" alt="Password" />
                <input
                  type="password"
                  class="form-control"
                  formControlName="password"
                  placeholder="Contraseña"
                />
              </div>
              <control-messages
                [control]="formLogin.controls.password"
              ></control-messages>
            </div>
            <div class="form-group">
              <div class="row login-options">
                <div class="col-lg-6 text-right p-0">
                  <a
                    [routerLink]="['/recovery-password']"
                    class="remember-password"
                    >Olvidé mi contraseña</a
                  >
                </div>
              </div>
            </div>
            <button
              type="submit"
              [disabled]="formLogin.invalid || isLoading"
              class="btn-12 btn-block btn btn-bg-green"
            >
              Iniciar sesión
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
