@font-face {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: normal;
  src: url("assets/fonts/CircularStd-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Circular Std";
  font-style: 300;
  font-weight: 300;
  src: url("assets/fonts/CircularStd-Book.ttf") format("truetype");
}