@import "./variables.scss";

html,
body {
  background-color: $bg-secondary;
  height: 100%;
  margin: 0;
  font-family: $font-primary, sans-serif;
  overflow: hidden;
  min-width: 1024px;
}

.title-page {
  color: $text-title-color-primary;
  font-family: $font-primary;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

.subtitle-page {
  color: $text-subtitle-color-primary;
  font-family: $font-primary;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
}

.content {
  margin-top: 17px;
  margin-bottom: 17px;
  border: 1px solid $color-border-primary;
  background-color: $bg-primary;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.04);
  padding: 28px;
}

.content .title {
  color: $text-title-color-primary;
  font-family: $font-primary;
  font-size: 20px;
  font-weight: 300;
  line-height: 25px;
}

.btn-outline-green {
  margin: 5px;
  min-height: 48px;
  min-width: 191px;
  border: 1px solid $color-green-primary;
  border-radius: 2px;
  font-family: $font-primary;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  text-align: center;
  color: $color-green-primary;
  cursor: pointer;
}

.btn-bg-green {
  margin: 5px;
  min-width: 165px;
  border-radius: 2px;
  background-color: $color-green-primary;
  color: $bg-primary;
  font-family: $font-primary;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  text-align: center;
  padding: 15px;
  cursor: pointer;
  height: 48px;
}

.btn-without-bg {
  margin: 5px;
  color: $color-green-primary;
  font-family: $font-primary;
  background: none;
  border: none;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  text-align: center;
  min-width: 165px;
  padding: 15px;
  cursor: pointer;
}

.form-base {
  .form-fields {
    padding: 10px 51px;

    label {
      font-family: $font-primary;
      font-size: 13px;
      font-weight: 300;
      line-height: 16px;
      color: #494949;
    }

    input,
    textarea {
      border: 1px solid $color-border-primary;
      border-radius: 2px;
      background-color: $input-color-secondary;
      font-size: 14px;
      font-weight: 300;
      line-height: 18px;
      color: rgba(150, 150, 150, 0.79);
      font-family: $font-primary;
      resize: none;
    }
  }

  .options {
    border-top: 1px solid #e9e9e9;
    padding: 25px 25px 0px 25px;
  }
}


.container-btn-bottom{
  background: $bg-primary;
  padding: 27px !important;
  border-top: 1px solid $color-border-primary;
}

.generic-select {
  width: 170px;
}

.generic-input, .generic-select {
  border: 1px solid $color-border-primary;
  border-radius: 2px;
  background-color: $input-color-secondary;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  color: rgba(150, 150, 150, 0.79);
  font-family: $font-primary;
  height: 48px;
  width: 100%;
  padding-left: 19px;
}

.generic-textarea {
  border-radius: 2px;
  background-color: $input-color-secondary;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  color: rgba(150, 150, 150, 0.79);
  font-family: $font-primary;
  resize: none;
  height: 145px;
  border: 1px solid #E9E9E9;
  padding: 19px;
}


.btn.disabled, .btn:disabled{
  pointer-events: none;
}

.align-right {
  text-align: right;
}
.align-left {
  text-align: left;
}

.textarea-group, .input-group, .select-group {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
  flex-direction: column;
  label {
    color: #494949;
    font-size: 13px;
    font-weight: 300;
    line-height: 16px;
    margin-bottom: 10px;
  }
}

.input-group {
  .input-group-append {
    position: absolute;
    top: 0;
    right: 17px;
    bottom: 0;
    margin-top: 26px;
    background-image: url(/assets/icon/icon-calendar.svg);
    background-repeat: no-repeat;
    background-position: center;
    button {
      margin: 0 !important;
      border: none;
    }
  }
}

.btn-outline-secondary:hover {
    background-color: transparent !important;
}

.checkbox-custom, .radio-custom {
    opacity: 0;
    position: absolute;
}

.checkbox-custom, .checkbox-custom-label, .radio-custom, .radio-custom-label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
}

.checkbox-custom-label, .radio-custom-label {
    position: relative;
}

.checkbox-custom + .checkbox-custom-label:before, .radio-custom + .radio-custom-label:before {
    content: '';
    background: #fff;
    border: 2px solid #ccc;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
}

.checkbox-custom:checked + .checkbox-custom-label:before {
    background: #5E8257;
    box-shadow: inset 0px 0px 0px 4px #fff;
   border: 1px solid #5E8257;
}

.radio-custom + .radio-custom-label:before {
   border-radius: 50%;
   border: 1px solid #5E8257;
   // outline: 1px solid #ff9800;
}

.radio-custom:checked + :before {
    background: #5E8257;
     border: 1px solid #5E8257;
    box-shadow: inset 0px 0px 0px 4px #fff;
}


.checkbox-custom:focus + .checkbox-custom-label:before{
  border: 1px solid #FF9800;
  outline: 1px solid #ff9800;
}


.radio-custom:focus + .radio-custom-label:before {
   border: 2px solid #FF9800;
}

.table-section {
  .nav-top {
    height: 110px;
    align-items: center;
  }
  .b-table {
    height: 448px;
    .h-table {
      height: 64px;
      border: 1px solid #E9E9E9;
      width: 100%;
      padding: 0 50px;
      > div {
        display: flex;
        align-items: center;
        p {
          margin-bottom: 0;
          color: #494949;
          font-family: "Circular Std";
          font-size: 14px;
          font-weight: 500;
          line-height: 18px;
        }
      }
    }
    .l-table {
      width: 100%;
      height: calc(100% - 64px);
      overflow: auto;
      > div {
        width: 100%;
        height: 64px;
        border: 1px solid #E9E9E9;
        padding: 0 50px;
        display: flex;
        > div {
          display: flex;
          align-items: center;
        }
        p {
          color: #5F5F5F;
          font-family: "Circular Std";
          font-size: 14px;
          font-weight: 300;
          line-height: 18px;
          margin-bottom: 0;
        }
      }
    }
  }
}

.back {
  display: flex;
  align-items: flex-end;
  cursor: pointer;
  p {
    color: #5E8257;
    font-family: "Circular Std";
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    margin-bottom: .5rem;
  }
}

.checkbox label:after, .radio label:after {
  content: '';
  display: table;
  clear: both;
}

.checkbox .cr, .radio .cr {
  position: relative;
  display: inline-block;
  border: 1px solid #D3D3D3;
  border-radius: 2px;
  width: 18px;
  height: 18px;
  float: left;
  margin-right: .5em;
  cursor: pointer;
}

.radio .cr {
  border-radius: 50%;
}

.checkbox .cr .fa, .radio .cr .fa {
  position: absolute;
  font-size: 12px;
  line-height: 0;
  top: 50%;
  left: 15%;
}

.checkbox label, .radio label {
	color: #3C3C3C;
	font-family: "Circular Std";
	font-size: 14px;
	font-weight: 300;
	line-height: 18px;
}

.checkbox label input[type="checkbox"], .radio label input[type="radio"] {
  display: none;
}

.checkbox label input[type="checkbox"]+.cr>.fa, .radio label input[type="radio"]+.cr>.fa {
  opacity: 0;
  color: #5E8257;
}

.checkbox label input[type="checkbox"]:checked+.cr>.fa, .radio label input[type="radio"]:checked+.cr>.fa {
  opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled+.cr, .radio label input[type="radio"]:disabled+.cr {
  opacity: .5;
}
.dateSelected {
	border-radius: 50%;
	border: 2px solid #5E8257;
  background-color: #fff !important;
}
.classNormal{
  background-color: #fff !important;
}


.mat-tab-header {
  .mat-tab-label {
    min-width: 82px;
    margin-right: 20px;
    padding: 0 15px;
    .mat-tab-label-content {
      color: #1B475E;
      font-family: "Circular Std";
      font-size: 16px;
      font-weight: 500;
      line-height: 20px;
      text-align: center;
    }
  }
   
}

.modal-dialog {
	max-width: 90%;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.paginator {
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  margin-top: 15px;
}

.ngx-pagination .current {
  height: 19px;
  width: 19px;
  background-color: #5E8257 !important;
  border-radius: 50%;
  align-items: center;
  line-height: 19px;
  text-align: center;
  padding: 0 !important;
}

.ngx-pagination a, .ngx-pagination button {
  color: #969696 !important;
}

.error {
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545;
}

.dialog-custom-css {
  .mat-dialog-container {
    position: relative;
  }
}

.dialog-visible-content {
  .mat-dialog-container {
    overflow: visible;
  }
  .mat-dialog-content {
    display: inline;
  }
}
.promos {
  ngb-datepicker.dropdown-menu {
    position: fixed !important;
    left: unset !important;
    top: 50% !important;
    transform: translate(0px, -130px) !important;
  }
}