$font-primary: "Circular Std";
$bg-primary: #fff;
$bg-secondary: #f6f6f6;
$text-color-primary: #6b6b6b;
$text-title-color-primary: #131b31;
$text-subtitle-color-primary: #969696;
$text-red: #ea3a3a;
$color-muted: #5f5f5f;
$color-border-primary: #e9e9e9;
$color-border-active: #1b475e;
$color-box-shadow: rgba(0, 0, 0, 0.05);
$color-green-primary: #5e8257;
$input-color-secondary: #f9f9f9;

$break-tablet: "768px";

