<section id="recoveryPassword">
  <div id="recoveryPassword-caption">
    <div id="container" class="container">
      <div class="row text-white">
        <div class="col-sm-6 offset-sm-3 bg-container form-base">
          <div class="text-center">
            <img
              src="assets/img/logounam.png"
              alt="Logo"
              class="img-fluid logo"
            />
            <p class="title">Nueva contraseña</p>
            <p class="error" *ngIf="error">
              {{ message }}
            </p>
            <p class="subtitle-page" *ngIf="success">
              Tu nueva contraseña ha sido establecida.
            </p>
            <img
              src="assets/icon/auth/icon-success-green.svg"
              alt="Completado"
              class="img-fluid img-success"
              *ngIf="success"
            />
            <p class="subtitle-page" *ngIf="!success">
              Establece tu nueva contraseña
            </p>
          </div>
          <form
            [formGroup]="formResetPwd"
            class="form-fields"
            (click)="reset()"
            *ngIf="!success"
          >
            <div class="form-group">
              <div class="inner-addon left-addon">
                <img src="assets/icon/auth/icon-user.svg" alt="Usuario" />
                <input
                  type="email"
                  class="form-control"
                  formControlName="email"
                  placeholder="Correo electrónico"
                />
              </div>
            </div>
            <div class="form-group">
              <div class="inner-addon left-addon">
                <img src="assets/icon/auth/icon-pwd.svg" alt="Password" />
                <input
                  type="password"
                  class="form-control"
                  formControlName="password"
                  placeholder="Nueva contraseña"
                />
              </div>
            </div>
            <div class="form-group">
              <div class="inner-addon left-addon">
                <img src="assets/icon/auth/icon-pwd.svg" alt="Password" />
                <input
                  type="password"
                  class="form-control"
                  formControlName="password_confirmation"
                  placeholder="Confirma contraseña nueva"
                />
              </div>
              <control-messages [control]="formResetPwd"></control-messages>
            </div>
            <button
              type="submit"
              [disabled]="!formResetPwd.valid"
              class="btn-block btn btn-bg-green"
            >
              Aceptar
            </button>
          </form>
          <div class="text-center" *ngIf="success">
            <button
              [routerLink]="['/login']"
              class="btn-block btn btn-bg-green"
            >
              Iniciar sesión
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
