<section id="recoveryPassword">
  <div id="recoveryPassword-caption">
    <div id="container" class="container">
      <div class="row text-white">
        <div class="col-sm-6 offset-sm-3 bg-container form-base">
          <div class="text-center">
            <p class="title">Recuperar contraseña</p>
            <p class="subtitle-page" *ngIf="success">
              Se ha enviado <span class="text-green">un correo</span> con las
              instrucciones para la recuperación de tu contraseña.
            </p>
            <img
              src="assets/icon/auth/icon-success-green.svg"
              alt="Completado"
              class="img-fluid img-success"
              *ngIf="success"
            />
            <p class="subtitle-page" *ngIf="!success">
              Ingresa el correo asociado a tu cuenta<br />para recuperar tu
              contraseña.
            </p>
          </div>
          <form
            [formGroup]="formRecoveryPwd"
            class="form-fields"
            (submit)="recovery()"
            *ngIf="!success"
          >
            <div class="form-group">
              <div class="inner-addon left-addon">
                <img src="assets/icon/auth/icon-email.svg" alt="Usuario" />
                <input
                  type="email"
                  class="form-control"
                  formControlName="email"
                  placeholder="Correo electrónico"
                />
              </div>
              <control-messages
                [control]="formRecoveryPwd.controls.email"
              ></control-messages>
            </div>
            <button
              type="submit"
              [disabled]="!formRecoveryPwd.valid || isLoading"
              class="btn-block btn btn-bg-green"
            >
              Recuperar contraseña
            </button>
          </form>
          <div class="text-center">
            <a [routerLink]="['/login']" class="return-login"
              ><img src="assets/icon/icon-back.svg" />Regresar al login</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
