@import "variables.scss";

#recoveryPassword {
  height: 100%;
  display: flex;
  align-items: center;
}

#recoveryPassword-caption {
  width: 100%;
  .bg-container {
    background: $bg-primary;
    padding: 90px 50px 90px 50px;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.04);
    border: 1px solid $color-border-primary;
    img.logo {
      max-width: 122px;
      margin-bottom: 25px;
    }
    p.title {
      color: $color-green-primary;
      font-family: $font-primary;
      font-size: 16px;
      font-weight: 500;
      line-height: 23px;
      text-align: center;
    }
    p.error {
      color: $text-red;
      font-family: $font-primary;
      font-size: 14px;
      font-weight: 300;
      line-height: 18px;
    }
    span.text-green {
      color: $color-green-primary !important;
    }
    img.img-success {
      margin: 65px 0px 65px 0px;
    }
    form {
      .inner-addon {
        position: relative;
      }

      .inner-addon img {
        position: absolute;
        padding: 10px;
        pointer-events: none;
      }

      .left-addon img {
        top: -7px;
        left: -10px;
      }
      .left-addon input {
        padding-left: 30px;
      }
      .btn-bg-green {
        margin: 0;
        margin-bottom: 50px;
      }
    }
    .return-login {
      color: $color-green-primary;
      font-family: $font-primary;
      font-size: 14px;
      font-weight: 300;
      line-height: 15px;
      img {
        margin-top: -3px;
      }
    }
  }
}

@media screen and (max-width: $break-tablet) {
  #recoveryPassword-caption {
    .bg-container {
      padding: 20px 5px 20px 5px;
    }
  }
}
